<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>displayLocalData</title>
    <style> 
        body{text-align:center} 
    </style> 
</head>
<body>
    <h1>Local data information</h1>
    <h2><b>State: </b>{{state}}</h2>
    <p><b>State population:  </b>{{population}}</p>
    <p><b>State cases:  </b>{{cases}}</p>
    <p><b>State deaths:  </b>{{death}}</p>
    <br>
    <p><b>Vaccinations Initiated:  </b>{{vacInit}}%</p>
    <p><b>Vaccinations Completed:  </b>{{vacComp}}%</p>
    <br>
    <div class="row">
        <div class="col-md-8">
        {{ plot_div | safe }}
        </div>
    </div>
    <br>
    <br>
    <p style="color:gray">last update: {{lastUpdate}}</p>
    <form action="{% url 'index' %}" method="get">
        <button name="home" type="submit" value="Submit">home</button>
    </form>
</body>
</html>