<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose your state</title>
</head>
<body>
    {% block content %}
        <h4>choose your state</h4>
        <form action="{% url 'getLocalData' %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">ok</button>
        </form>
        <br>
        <form action="{% url 'index' %}" method="get">
            <button name="home" type="submit" value="Submit">home</button>
        </form>
    {% endblock content %}
</body>
</html>