<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>syncdata</title>
    <style>
        #multicentre{
		    text-align:center
		}
        table{margin: auto}
    </style>
    <style>
        .textonpic{
            text-align: left;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div id="multicentre" class='header'>
        <table>
            <tr>
                <td>
                    <div class="content">
                        <div class="textonpic" style="background:url('/static/images/Fitbit.png') no-repeat;width:290px;height:290px;">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;steps: {{ last_Fitbit.steps }}
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;calories: {{ last_Fitbit.calories }}
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;floors: {{ last_Fitbit.floors }}
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;distance: {{ last_Fitbit.distance }} mile(s)
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;weight: {{ last_Fitbit.weight }} lb
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ last_Fitbit.date }}
                        </div>
                        <br>
                        <!--click hypertext 'more Fitbit data' and then jump to Fitbitdata.html-->
                        <a href="{% url 'Fitbitdata' %}" target="_parent">more Fitbit data></a>
                        <br>
                        <!--#click button 'get new Fitbit data' and then jump to getFitbit.html-->
                        <form action="getFitbit" method="get">
                            <button name="getFitbit" type="submit" value="Submit">get new Fitbit data</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="content">
                        <div class="textonpic" style="background:url('/static/images/Apple.png') no-repeat;width:290px;height:290px;">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;steps: {{ last_Apple.steps }}
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;distance: {{ last_Apple.distance }} mile(s)
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;floors: {{ last_Apple.floors }}
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;calories: {{ last_Apple.calories }}
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;heart rate: {{ last_Apple.heart_rate }} BPM
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;exercise minutes: {{ last_Apple.exercise_minutes }}
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ last_Apple.date }}
                        </div>
                        <br>
                        <!--click hypertext 'more Apple data' and then jump to Appledata.html-->
                        <a href="{% url 'Appledata' %}" target="_parent">more Apple data></a>
                        <br>
                        <!--#click button 'get new Apple data' and then jump to getApple.html-->
                        <form action="getApple" method="get">
                            <button name="getApple" type="submit" value="Submit">get new Apple data</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <div style="text-align: center;">
        <form action="{% url 'index' %}" method="get">
        <button name="home" type="submit" value="Submit">home</button>
    </form>
    </div>
</body>
</html>