<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>takeoutdata</title>
</head>
<body>
    {% block content %}
        <!--if there is any takeout data, list all of them-->
        {% if takeout_list %}
            <ul>
                {% for takeout in takeout_list %}
                    <li>
                        <h3>{{takeout.restaurant_name}}</h3>
                        <p>{{takeout.dishes}}</p>
                        <p>{{takeout.date}}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No takeout data have been added.</p>
        {% endif %}
        <!--hyptertext for adding new takeout data-->
        <a href="{% url 'addtakeout' %}">add takeout data</a>
    {% endblock content %}
    <br>
    <br>
    <form action="{% url 'index' %}" method="get">
        <button name="home" type="submit" value="Submit">home</button>
    </form>
</body>
</html>